Username: <%= @user.username%><br>
Email: <%= @user.email%>

<h1>My Books</h1>

<% @user.books.each do |book|%>
	<%= link_to book.name, book%>
	<br>
<% end %>

<h1> My Transactions</h1>
<div class="table-responsive">
	<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th>Book Name</th>
			<th>Price</th>
			<th>Status</th>
			<th>Delete Transaction</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				
			</th>
		</tr>
	</tbody>
	</table>
</div>