%section#team
  .container
    .row
      .col-md-12.text-center.text-uppercase
        %strong
          %h1 Meet Our Team
        %hr.breakline/
    %br
    %br
    .row
      #team.col-md-2.col-md-offset-1.col-xs-4.thumb
        %a.thumbnail{"data-toggle" => "tooltip", :href => "https://github.com/Dudisek", :title => "Petr Duda"}
          %img.img-responsive{:alt => "Petr Duda", :src => "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/0a0/317/2fa3300.jpg"}/
      .col-md-2.col-xs-4.thumb
        %a.thumbnail{"data-toggle" => "tooltip", :href => "https://github.com/samkahchiin", :title => "Sam Kah Chiin"}
          %img.img-responsive{:alt => "Sam Kah Chiin", :src => "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAPvAAAAJDhiYWUxOWE2LTNjZjQtNGJiYS05ODU5LWZkNzIwZmRiNmIyMQ.jpg"}/
      .col-md-2.col-xs-4.thumb
        %a.thumbnail{"data-toggle" => "tooltip", :href => "https://github.com/ezharfahmi", :title => "Ezhar Fahmi"}
          %img.img-responsive{:alt => "Ezhar Fahmi", :src => "https://scontent-kul1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10002929_10200601708724713_1386732301_n.jpg?oh=a31ec4416da3951d7512886c8f69b2b1&oe=57345366"}/
      .col-md-2.col-xs-4.thumb
        %a.thumbnail{"data-toggle" => "tooltip", :href => "https://www.facebook.com/alexander.angerer?fref=ts", :title => "Alexander Angerer"}
          %img.img-responsive{:alt => "Alexander Angerer", :src => "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/05f/22f/17af1cb.jpg"}/
      .col-md-2.col-xs-4.thumb
        %a.thumbnail{"data-toggle" => "tooltip", :href => "https://github.com/jinwen95", :title => "Chan Jin Wen"}
          %img.img-responsive{:alt => "Chan Jin Wen", :src => "https://scontent-kul1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11100818_10206898217792733_3891814359199471985_n.jpg?oh=b35b93bb034300f988eecca1d8b214ac&oe=572805A1"}/
