<center><h1>Booku Booku</h1>
<p> Beautiful website from our boss <strong>Sam</strong></p>

<p><em>Thanks for all the lessons!</em></p></center>
<% if current_user.nil?%>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<br>
<a href="users/sign_in"> Sign In</a>
<br>
<a href="users/sign_in"> Sign Up</a>
<%end%>
<br>
<% if !current_user.nil?%>
<%=current_user.email%><br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<%end%>

