<div class="row">
	<div id="book-index-category"> Categories </div>
	<div>
		<ul class="list-group">
			<li class="list-group-item">
				<%= link_to "Primary School Textbooks", books_path(categories: "Primary School Textbooks"),{class: "category"} %>
			</li>		 
			<li class="list-group-item">
				<%= link_to "Secondary School Textbooks", books_path(categories: "Secondary School Textbooks"),{class: "category"} %>
			</li >
			<li class="list-group-item">
				<%= link_to "University Textbooks", books_path(categories: "University Textbooks"),{class: "category"} %>
			</li>
			<li class="list-group-item">
				<%= link_to "Non-fiction Textbooks", books_path(categories: "Non-fiction Textbooks"),{class: "category"} %>
			</li>	

		</ul>
	</div>
</div>

