<div class="row">
	<div id="book-index-category"> Categories </div>
	<div>
		<ul class="list-group">
			<li class="list-group-item">
				<a href "http://localhost:3000/">Primary School Textbooks</a>
			</li>		 
			<li class="list-group-item">
				<a href "http://localhost:3000/">Secondary School Textbooks</a>
			</li >
			<li class="list-group-item">
				<a href "http://localhost:3000/">University Textbooks</a>
			</li>
			<li class="list-group-item">
				<a href "http://localhost:3000/">Non-fiction Textbooks</a>
			</li>	
		</ul>
	</div>
</div>

