<div class="content">
<!-- Page Content -->
	<div class="container">
		<div class="col-md-offset-3">
			<h1 id="book-index-title">Books</h1>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="row">


	  <!-- Page Features -->
	  		<div class="col-md-3">
				<%= render "categories" %>
	  		</div>
	  		<div class="col-md-9 books_section">
				<%= render "book_list" %>
	  		</div>
		</div>
	</div>
	<!-- /.container -->
</div>

