
<!-- Page Content -->
<h1> <center>What can we help you with?</center></h1>

<hr>
<div class="container">
<div class="row">


  <!-- Page Features -->
  <div class="col-md-3">
		<%= render "categories" %>
  </div>
  <div class="col-md-9">
		<%= render "book_list" %>
  </div>
</div>
</div>

    <!-- /.container -->

