<h1>book show</h1>

<br>
Book Name: <%= @book.name%>


<div>
	<%= link_to 'Buy It'%>
</div>
<div>
	<%= link_to 'Edit Book', edit_book_path %>	
</div>
<div>
	<%= link_to "Delete Book", book_path(@book), method: :delete  %>
</div>

<!-- 

<h1>Comments</h1>