  
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <%=form_for point_transactions_path, url: point_transactions_path do |f| %>
          <div id="payment-form"></div>
          <br>
          <%= hidden_field_tag 'value', params[:value] %>
        <%= f.submit 'Submit', class: 'btn btn-success btn-lg' %>
        <%end%>
    </div>
  </div>
</div>

<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).

braintree.setup('<%= @client_token %>', "dropin", {
  container: "payment-form"
});
</script>
