  
<div class="modal fade" id="addPointDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
          <%=form_for @point_transaction , url: point_transactions_path do |f| %>
            <div id="payment-form"></div>
            <br>
             <%= f.hidden_field :points %>
          <%= f.submit 'Submit', class: 'btn btn-success btn-lg' %>
          <%end%>
        </div>
    </div>
  </div>
</div>

<script>

braintree.setup('<%= @client_token %>', "dropin", {
  container: "payment-form"
});

</script>
