<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>5 Points</h3>
                    <span>no strings attached</span>
                </div>
                <div class="option-price">
                    <span class="price">$25</span>
                    <span class="period">per month</span>
                </div>
                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>1GB</strong> Disk Space</li>
                        <li><strong>0</strong> Email Addresses</li>
                        <li><strong>2</strong> Domains </li>
                        <li><strong>4</strong> Subdomains</li>
                        <li><div class="qr" id="order1"></div></li>
                    </ul>
                	<a data-toggle="modal" data-points="10" class="open-AddPointDialog btn btn-success big" href="#addPointDialog"><i class="fa fa-hand-o-right hided-icon big"></i> Buy Points </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>10 points</h3>
                    <span>most valued</span>
                </div>

                <div class="option-price">
                    <span class="price">$50</span>
                    <span class="period">per month</span>
                </div>

                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>12GB</strong> Disk Space</li>
                        <li><strong>7</strong> Email Addresses</li>
                        <li><strong>10</strong> Domains </li>
                        <li><strong>40</strong> Subdomains</li>
                        <li><div class="qr" id="order2"></div></li>
                    </ul>
                	<a data-toggle="modal" data-points="20" class="open-AddPointDialog btn btn-success big" href="#addPointDialog"><i class="fa fa-hand-o-right hided-icon big"></i> Buy Points </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>20 Points</h3>
                    <span>extended version</span>
                </div>

                <div class="option-price">
                    <span class="price">$100</span>
                    <span class="period">per month</span>
                </div>

                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>50GB</strong> Disk Space</li>
                        <li><strong>30</strong> Email Addresses</li>
                        <li><strong>30</strong> Domains </li>
                        <li><strong>120</strong> Subdomains</li>
                        <li><div class="qr" id="order3"></div></li>
                    </ul>
                	<a data-toggle="modal" data-points="30" class="open-AddPointDialog btn btn-success big" href="#addPointDialog"><i class="fa fa-hand-o-right hided-icon big"></i> Buy Points </a>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->


<%= render 'payment'%>