<center><div>
	<a data-toggle="modal" data-points="10" class="open-AddPointDialog btn btn-primary" href="#addPointDialog">10</a>
	<a data-toggle="modal" data-points="20" class="open-AddPointDialog btn btn-primary" href="#addPointDialog">20</a>
	<a data-toggle="modal" data-points="30" class="open-AddPointDialog btn btn-primary" href="#addPointDialog">30</a>

</div></center>
        <%= render 'payment'%>

