<center><div>
	<button type="button" class="btn btn-default" data-amount="10" data-toggle="modal" data-target=".bs-example-modal-sm" id="process-payment">10</button>
	<button type="button" class="btn btn-default" data-amount="20" data-toggle="modal" data-target=".bs-example-modal-sm" id="process-payment">20</button>
	<button type="button" class="btn btn-default" data-amount="30" data-toggle="modal" data-target=".bs-example-modal-sm" id="process-payment">30</button>
</div></center>
        <%= render 'payment'%>