/*
  *= require footer
  *= require user_profile
  *= require bootstrap
  *= require font-awesome
  *= require books_new
  *= require books_search
  *= require point_transactions_new
  *= require book_3d_cover
*/

@import "bootstrap";

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}



.box-book {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #333;

}