/*
  *= require footer
  *= require user_profile
  *= require bootstrap
  *= require font-awesome
  *= require books_new
  *= require books_search
*/

@import "bootstrap";

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}