.thumbnail { 
  min-height:50px; 
  height:100%; 
}

.thumbnail a {
  font-weight:bold;
  font-size:15px;
  color:black;
  font-family: serif, "Times New Roman";
}

#book-index-title{
  margin-left:10px;
}