.thumbnail { 
  min-height:330px; 
  height:100%;
  position: relative; 
}

.button-row{
  position: absolute;
  bottom: 5px;
  padding-right:15px;
}

.thumbnail a {
  font-weight:bold;
  font-size:15px;
  color:black;
  font-family: serif, "Times New Roman";
}

#book-index-title{
  margin-left:10px;
}

#book-index-category{
  margin-left:15px;
  margin-bottom:10px;
  font-weight:bold;
  font-size:20px;
}

.list-group a{
  color:black;
}