// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section1 #slide1 {
  background-image: url("http://i.imgur.com/jio2XtL.jpg");
}

#section1 #slide2 {
  background-image: url("http://i.imgur.com/nymFEaN.jpg");
}

#section1 #slide3 {
  background-image: url("http://i.imgur.com/xLMmFXW.jpg");
}

#header {
  font-size: 30px;
  font-weight:bold;
}
.slide{
  background-size: cover;
}

.slide-caption {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.slide-caption .btn {
  text-shadow: none;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: transparent !important;
    border-color: white !important;
    border-width: 6px;
    color: white !important;
}

.btn-primary:hover{
  background-color: white !important;
  border-color: white !important;
  color: #B84D45 !important;
}

#steps .slide{
  background-color: #E0DCD4;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.section {
  font-family: myFirstFont;
  font-size:20px;
}

#about {
  background-color: #EEEEEE;
}

#team img{
  width:100%;
  max-height:165px;
  overflow: hidden; 
  border-radius:10%;
}

.breakline{
  max-width: 400px;
  border-width: 5px 0px 0px;
}

#step_intro p{
  font-size: 14px;
}

#testimonial img{
  width: 100px;
}

#testimonial p{
  font-size: 14px;
  margin-left: -10%;
  margin-top: 30px;
}