.top-buffer { 
  margin-top:20px; 
}

.book-title{
  font-size: 20px;
}

.price{
  color: red;
}

.font-blabla{
	font-family: "Times New Roman", Times, serif;
}

#editModal .modal-dialog  {
  width:30%;
}

.user-profile{
  font-family: serif, "Times New Roman", Times;
}

.tab-content .title{
  font-size: 20px;
}