<footer class="footer-distributed">

      <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <%= link_to "Home", root_path%>
          ·
          <%= link_to "About", root_path(:anchor => "about")%>
          <a href="#">About</a>
          ·
          <%= link_to "Why us", root_path(:anchor => "why")%>
          <a href="#">Contact</a>
        </p>

        <p>Bookku Bookku &copy; 2016</p>
      </div>
</footer>